* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: none;
    text-decoration: none;
}

body {
    background-image: url(img/fondo.jpg);
    background-size: cover; /* Asegura que la imagen de fondo cubra toda la pantalla */
    color: #333; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente por defecto */
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(244, 154, 15, 0.3);
}

.menu {
    margin: 10px;
    padding: 20px;
}

.listas {
    display: flex;
    gap: 35px;
}

.lista {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid white;
}

a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.lista:hover {
    background: rgba(244, 234, 15, 0.7);
}

/* Estilos del formulario */
.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 20px auto; /* Centrado y margen superior e inferior */
    max-width: 450px; /* Ancho máximo del formulario */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    text-align: center;
}

h1 {
    text-align: center; /* Centra el título */
    margin-bottom: 20px; /* Espacio inferior del título */
}

label {
    font-weight: bold; /* Negrita para las etiquetas */
    margin-bottom: 5px; /* Espacio inferior de las etiquetas */
    display: block; /* Las etiquetas ocupan toda la línea */
}

input[type="number"],
select {
    width: 90%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Espacio arriba y abajo */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
}

button {
    background-color: #f49a15; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 18px; /* Tamaño de fuente del botón */
    width: 50%; /* Ancho completo */
}

button:hover {
    background-color: #f4a500; /* Color de fondo al pasar el ratón */
}

/* MENU BURGER */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

/* MENU RESPONSIVO */
@media (max-width: 768px) {
    .logo img {
        padding-top: 25px;
    }

    .cabecera {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        align-items: center;
        width: 100%;
    }

    .menu {
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 0 40px;
    }

    .listas {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: translateX(130%);
        transition: transform 0.3s ease-in;
        margin: 0 20px;
    }

    .lista {
        border: 3px solid white;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line1 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .container {
        max-width: 350px; /* Ancho máximo del formulario */
    }
    button {
        padding: 20px; /* Espaciado interno */
        border-radius: 3px; /* Bordes redondeados */
        font-size: 15px; /* Tamaño de fuente del botón */
        width: 50%; /* Ancho completo */
    }
}
